*{
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

body{
    font-family: "Verdana", "Geneva", sans-serif;
    background: linear-gradient(to bottom, #000000, #434343);
    color: #C0C0C0; /* A light gray color that complements the black background */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

/*For drop down menu*/
ul{
    background: #800000; /* A different color for the top bar */
    text-align: center;
    font-size: 30px;
    list-style:none;
}
ul li a{
    display: block;
    padding: 30px;
    color: #C0C0C0;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
ul li ul.dropdown {
    text-align: center;
    width:5px;
    position:absolute;
    z-index: 150;
    display:none;
}
ul li a:hover {
    background:#BDB76B; /* A gold color when hovering over the menu items */
}
ul li:hover ul.dropdown{
    font-display: 5px;
    display:contents;
}

/*ShowSpotter*/
h1{
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif ;
    color: #C0C0C0;
    text-align:center;
}

/*Showtimes*/
h2{
    text-decoration:double;
    color:#C0C0C0;
    font-size: 60px;
}

/*Times*/
a{
 margin-left: 60px;
 margin-right: 30px;
 color: #C0C0C0;
 text-decoration: none;
}

/*Movie Titles*/
h3{
    margin-left: 50px;
    margin-right: 30px;
    flex: content;
    color: #000000; /* Darker color for the text inside the movie boxes */
    font-weight: bold; /* Bold movie titles */
    text-decoration: underline; /* Underlined movie titles */
}

p{
    word-spacing: 30px;
    text-align: start;
    text-decoration:none;
    color: #000000; /* Darker color for the text inside the movie boxes */
}

/*Movies*/
img{
    margin-left: 50px;
    margin-right: 30px;
    width: 300px;
    height: 300px;
}

/*Movie Boxes*/
.movie-box{
    display: inline-block;
    border: 2px solid #DAA520; /* A gold color for the border */
    border-radius: 15px; /* Rounded corners */
    background: linear-gradient(to bottom, #1e5799, #7db9e8); /* A different gradient for the background */
    margin: 10px;
    padding: 10px;
}
