body{
    background-color: rgb(255, 255, 255);
    color:black;
    line-height: 80px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
    font-weight:bold; 
}

h1{
    color:rgb(216, 143, 8);
    background-color: black;
    height: 15%;
    text-align: center;
    font-size: 65pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-decoration: underline;
}

select{
    width:150px;
    border-radius:40px;
    font-size: 25px;
    font-weight:bold;
    color: black;
    background-color: rgb(245, 245, 245);
    padding: 15px 20px;
}

input[type=submit]{
    position:relative;
    left:90%;
    top:15%;
    width:150px;
    padding:16px 32px;
    margin: 4px 2px;
    font-size: 25px;
    font-weight:bold;
    color: black;
    background-color: rgb(245, 245, 245);
    padding: 15px 20px;
}

input[type=submit]:hover{
    color:rgb(5, 104, 5);
}