body{
    background-color: rgb(197, 197, 197);
    color:black;
    line-height: 80px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
    font-weight:bold;
    
}

h1{
    text-align: center;
    color:rgb(249, 215, 153);
    background-color: black;
}

h2{
    text-decoration: underline;
}

select{
    width:150px;
    border-radius:40px;
    font-size: 25px;
    font-weight:bold;
    color: black;
    background-color: rgb(245, 245, 245);
    padding: 15px 20px;
}
input[type=submit]{
    /* Moves Button to the left */
    position:relative;
    left:90%;
    /*Moves button up some */
    top:15%;
    /* Width of the button */
    width:150px;

    padding:16px 32px;
    margin: 4px 2px;
    font-size: 25px;
    font-weight:bold;
    color: black;
    background-color: rgb(245, 245, 245);
    padding: 15px 20px;
}
input[type=submit]:hover{
    color:rgb(5, 104, 5);
}