body{
    background-color: rgb(178, 174, 174);
    color:black;
    line-height: 30px;
    font-size: 25px;
    font-family: "Verdana", "Geneva", sans-serif;
    position:relative;
    
}

h1{
    text-align: center;
    color:rgb(249, 215, 153);
    background-size: 100px;
    background-color: black;
    font-weight: bold;
    
}

h2{
    text-decoration: underline;
    
}
h3{
    position:relative;
    left:15px;
}
h4{
    font-size: 30px;
    position:relative;
    left:15px;
}
p{
    position:relative;
    left:25px;
}

select{
    /*Position ob button*/
    position:relative;
    left:75%;

    width:100px;
    border-radius:40px;
    font-size: 25px;
    font-weight:bold;
    color: black;
    background-color: white;
    padding: 15px 20px;
}

input[type=submit]{
    /* Moves Button to the left */
    position:relative;
    left:90%;
    /*Moves button up some */
    top:15%;
    /* Width of the button */
    width:150px;

    padding:16px 32px;
    margin: 4px 2px;
    font-size: 25px;
    font-weight:bold;
    color: black;
    background-color: rgb(245, 245, 245);
    padding: 15px 20px;
}
input[type=submit]:hover{
    color:rgb(5, 104, 5);
}