body{
    font-family: "Verdana", "Geneva", sans-serif;
    background: linear-gradient(to bottom, #000000, #171717);
    color: #C0C0C0; 
    min-height: 100vh;
}

h1{
    background-color: lightskyblue;
    color: black;
    text-align:center;
}
