ul{
    background: purple;
    text-align: center;
    font-size: 30px;
    list-style:none;
}

li {
    display: block;
    padding: 30px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
ul li a{
    display: block;
    padding: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
ul li ul.dropdown {
    text-align: center;
    width:5px;
    position:absolute;
    z-index: 150;
    display:none;
}
ul li a:hover {
    background:plum;
}
ul li:hover ul.dropdown{
    font-display: 5px;
    display:contents;
}

h1{
    background: blueviolet;
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif ;
    color: black;
    text-align:center;
    margin: -8px;
    margin-bottom: 15px;
}

body{font-family: "Verdana", "Geneva", sans-serif;
    background: linear-gradient(to bottom, #000000, #434343);
    align-content: center;
    min-height: 100vh;
    font-size:30px;
    
}

.container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    overflow: hidden;
}

.container a {
    width: 40%;
    height: 600px;
    color: #fff;
    background-color: #007BFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black; 
    font-size: 20px; 
    transition: all 0.3s ease;
}

.container a:hover {
    border-color: #007BFF;
    background-color: #0056b3;
}



::-webkit-scrollbar { width: 0px; height: 0px; } ::-webkit-scrollbar-button { width: 0px; height: 0px; } ::-webkit-scrollbar-thumb { background: transparent; border: 0px none; border-radius: 0px; } ::-webkit-scrollbar-thumb:hover { background: transparent; } ::-webkit-scrollbar-thumb:active { background: transparent; } ::-webkit-scrollbar-track { background: transparent; border: 0px none; border-radius: 0px; } ::-webkit-scrollbar-track:hover { background: transparent; } ::-webkit-scrollbar-track:active { background: transparent; } ::-webkit-scrollbar-corner { background: transparent; }


