*{
    padding: 0%;
    margin: 0%;
/*    font-family: 'Times New Roman', Times, serif;*/

}

body{
    font-family: "Verdana", "Geneva", sans-serif;
    background: linear-gradient(to bottom, #000000, #171717);
    color: #C0C0C0; 
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Showtimes*/
h2{
    text-decoration:double;
    color:#C0C0C0;
    font-size: 60px;
}

/*Times*/
a{
 margin-left: 60px;
 margin-right: 30px;
 color: #C0C0C0;
 text-decoration: none;
}

nav a{
    margin-left: 0px;
    margin-right: 0px;
}

/*Movie Titles*/
h3{
    margin-left: 50px;
    margin-right: 30px;
    flex: content;
    color: #000000; 
    font-weight: bold; 
    text-decoration: underline; 
}

p{
    word-spacing: 30px;
    text-align: start;
    text-decoration:none;
    color: #000000; 
}

/*Movies*/
img{
    margin-left: 50px;
    margin-right: 30px;
    width: 300px;
    height: 300px;
}

/*Movie Boxes*/
.movie-box{
    display: inline-block;
    border: 2px solid #DAA520; 
    border-radius: 15px; 
    background: linear-gradient(to bottom, #1e5799, #7db9e8); 
    margin: 10px;
    padding: 10px;
}

.theater {
    display: flex;

}

.result {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.result-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.result-button:hover {
    background-color: #0056b3;
}